<header class="header__container">
  <section class="header__main-container">
    <div class="header__logo-name">
      <figure class="header-logo">
        <img class="logo" src="../../../../assets/REVENDR.png" alt="logo" />
      </figure>
      <!-- <div class="header__name">
        <span class="name">Revendr</span>
      </div> -->
    </div>
    <div class="header__nav">
      <div class="header__nav-links">
        <button
          class="nav-button"
          type="button"
          mat-stroked-button
          color="primary"
        >
          HOME
        </button>
        <button
          class="nav-button"
          type="button"
          mat-stroked-button
          color="primary"
        >
          CLIENTES
        </button>
        <button
          class="nav-button"
          type="button"
          mat-stroked-button
          color="primary"
        >
          ESTOQUE
        </button>
        <button
          class="nav-button"
          type="button"
          mat-stroked-button
          color="primary"
        >
          FINANCEIRO
        </button>
      </div>
      <div class="nav-session">
        <button
          class="nav-button"
          type="button"
          mat-stroked-button
          color="primary"
        >
          DESCONECTAR
        </button>
      </div>
    </div>
  </section>
</header>
